@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
  font-size: 16px;
  justify-content: center;
}

.white {
  border: 2px gray;
  min-height: 300px;
}